NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-01-01
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SANITY_API_WRITE_TOKEN=
ALARMINDEX_SANITY_PROJECT_ID=
ALARMINDEX_SANITY_DATASET=production
ALARMINDEX_SANITY_API_VERSION=2025-01-01
ALARMINDEX_SANITY_READ_TOKEN=
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=
EXTRA_EXTRA_SECRET=
GEMINI_API_KEY=
# GEMINI_IMAGE_MODEL=gemini-3-pro-image
